<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <div class="row center">
      {{#if message}}
        <div class="card-panel red lighten-2">{{message}}</div>
      {{/if}}
    </div>
    <h1 class="header center orange-text">Uso de frameworks.</h1>
    <div class="row center">
      <h4 class="header col s12 light">Login Simple</h4>
      <h5 class="header col s12 light">Tarea 1 Desarrollo Web</h5>
      <h6 class="header col s12 light">Carlos Ramart; Profesor: Cristian Tala</h6>
    </div>
    <div class="row center">
      <a href="signup" id="download-button" class="btn-large waves-effect waves-light orange">Registrarse</a>
      <a href="login" id="download-button" class="btn-large waves-effect waves-light orange">Iniciar Sesion</a>
    </div>
  </div>
</div>
