<div class="container">
  <div class="section">
    <h4>Bienvenido {{user.username}}</h4>
    <h5>Porque usar frameworks.</h5>
  </div>
  <div class="section">
    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">Desarrollo rápido</h5>
          <p class="light">
            Con Express primero que todo te ahorras la creación de la estructura básica de carpetas y archivos para que funcione, cosa que casi todos los frameworks tiene y ademas este en particular levanta su propio servidor para desarrollo lo que hace aún más comodo porque no se tiene que isntalar un servidor como apache o nginx para empezar a desarrollar.
          </p>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">Orientado a objetos</h5>
          <p class="light">
             Express con NodeJs esta construidos sobre Javascript y cual nativamente incluye la creación y el manejo de objetos, por ende estos últimos tambien los tienen.
          </p>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">description</i></h2>
          <h5 class="center">Buena Documentación</h5>
          <p class="light">
            En el sitio oficial de Express existe un link a la <a href="http://expressjs.com/es/4x/api.html">API</a> del framework muy bien documentada que te ayuda en lo que necesites.
          </p>
        </div>
      </div>
    </div>
    <!-- Segunda columna -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
          <h5 class="center">Gran Comunidad</h5>
          <p class="light">
            Con respecto a la comunidad, este framework es uno de los más usado por los desarrolladores en NodeJs,
             si miramos el repositorio en <a href="https://github.com/expressjs">github</a>, veremos que consta con 20.403 estrellas,
              4.010 forks y con 183 contribuidores , lo que lo hace una comunidad grande.
              Además javascript ha sido una de las tecnologias con mayor popularidad en
              los ultimos año según <a href="http://stackoverflow.com/research/developer-survey-2015#tech">stackoverflow</a>
          </p>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">Gran rendimiento</h5>
          <p class="light">
            Express y NodeJs basados en javascript funcionan de manera asincrónica lo que por defecto les da un gran rendimiento.
          </p>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">lock</i></h2>
          <h5 class="center">Seguridad</h5>
          <p class="light">
             En aspectos de seguridad Express se peuden manejar sesiones y cookies de manera muy facil al igual que tiene una rapida y facil integracion con SSL. Ademas se le pueden integrar modulos de encriptado para password y otros usos.
          </p>
        </div>
      </div>
    </div>
  </div>
  <br><br>
  <div class="section">
  </div>
</div>
